<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-US-Compatible"
      content="IE=edge" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Playground</title>
  </head>
  <body>
    <h1>Chrip Chirp, my dude!</h1>
    <div id="app">
     <p v-if="message.length % 2 === 0">Even: {{ message }}</p>
     <p v-else>Odd: {{ message }}</p>

     <p>this many birds: {{ count }}</p>
     <button @click="incrementCount">Another Bird</button>
     <br>
     <div class="add-bird-form">
      <input v-model="newBird" type="text" placeholder="add a new kind of bird">
      <button class="btn-name" @click="addBird">Add Bird Name</button>
     </div>

     <ul>
        <li v-for="bird in listOfW">{{ bird }}</li>
     </ul>
     <ul>
        <li v-for="bird in listOfS">{{bird}}</li>
     </ul>
     <h2>Birds You Added! *thanks*</h2>
     <ul>
      <li v-for="bird in addedBirds">{{bird}}</li>
   </ul>
   <h3> Sum Sounds</h3>
     <ul>
        <li v-for="bird in Object.keys(noises)">{{ bird }}: "{{ noises[bird] }}"</li>
     </ul>
    </div>

 
    <script>
      const {createApp} = Vue
      const app = createApp({
        data() {
          return {
            message: 'Lemme see ur Birds!',
            count: 1,
            newBird: '',
            listOfW: ['wren', 'warbler', 'wattled bulbul', 'western whipbird', 'wood pewee'],
            listOfS: ['sparrow', 'snowfinch', 'spurfowl', 'smoky honeyeater'],
            addedBirds: [],
            noises: {
              duck: 'quack',
              wren: 'tweet',
              crow: 'caw'
            }
          }
        },
        methods: {
              incrementCount() {
                console.log('click', this.count)
                this.count++
              },
              addBird() {
                this.addedBirds.push(this.newBird)
                this.newBird = ''
              }
            }
      })
      app.mount('#app')
    </script>
  </body>
</html>