<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-US-Compatible"
      content="IE=edge" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Playground</title>
  </head>
 
  <body>
    <h1>Chrip Chirp, my dude!</h1>
    <div id="app"> 
      <p v-if="!seenBirds.length">Welcome, {{ newbMessage }}</p>
     <p v-else>Welcome back, {{ watcherMessage }}</p>

     <p>I've seen this many birds: {{ count }}</p>
     <button @click="incrementCount">Another Bird: check!</button>
     <br>
     <div class="add-bird-form">
      <input v-model="newSeenBird" type="text" placeholder="add a bird you saw">
      <button class="btn-seen":disabled="!newSeenBird.length" @click="addSeenBird">Saw That Bird!</button>
      <input v-model="newSoughtBird" type="text" placeholder="add a bird you wish you saw">
      <button class="btn-seek":disabled="!newSoughtBird.length" @click="addSeenBird">Gosh, I Wanna See That Bird</button>
     </div>

     <h2>Birds You Saw Outside! *thanks*</h2>
     <p v-if="!seenBirds.length">Go outside and find some birds!</p>
     <ul>
      <li v-for="bird in seenBirds">{{bird}}</li>
    </ul>

    <h2>Birds You Long For</h2>
    <p v-if="!seekingBirds.length">What do you even yearn for, then?</p>
    <ul>
     <li v-for="bird in seekingBirds">{{bird}}</li>
   </ul>
   <h3> Sum Sounds</h3>
   <input v-model="newNoise.bird" type="text" placeholder="what's the bird?">
    <input v-model="newNoise.noise" type="text" placeholder="what's the noise?">
    <button class="btn-noise":disabled="!newNoise.noise.length" @click="addNoise">Catalog That Racket</button>
     <ul>
        <li v-for="bird in Object.keys(noises)">{{ bird }}: "{{ noises[bird] }}"</li>
     </ul>
    </div>
    <script src="app.js"></script>
  </body>
</html>